
#scrollSection {
    opacity: 1; 
    transform: translateY(0);
  }
  

  @keyframes pulseGlow {
    0% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
    50% {
      box-shadow: 0 0 15px rgba(255, 255, 255, 1);
    }
    100% {
      box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    }
  }
  
  .animated-image {
    animation: pulseGlow 2s infinite;
    border-radius: 50%; 
    transition: transform 0.3s ease-in-out; 
  }
  
  .animated-image:hover {
    transform: scale(1.1); 
  }
    
 